<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Benji</title>
    <link rel="shortcut icon" type="image/png" href="../../media/favicons/favicon-32x32.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="./media/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./media/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./media/favicons/favicon-16x16.png"> -->
    <link rel="stylesheet" href="../../css/style.min.css">
  </head>
  <body>
    <script src="../../js/wall.js"></script>
    <script>
      var app = Elm.Main.fullscreen();
    </script>
</body>
</html>
